
<section class="not-voted" *ngIf="!poll.userVoted && mode === blockMode.NORMAL">
  <p>{{poll.text}}</p>
  <md-radio-group [(ngModel)]="option" *ngIf="!poll.settings.multipleChoice">
    <div *ngFor="let option of poll.options" >
      <md-radio-button [value]="option.id">
        {{option.text}}
      </md-radio-button>
    </div>
  </md-radio-group>
  <div *ngIf="poll.settings.multipleChoice">
    <div *ngFor="let option of poll.options">
      <md-checkbox [(ngModel)]="option.checked">{{option.text}}</md-checkbox>
    </div>
  </div>
  <a md-button (click)="vote()">Stem</a>
</section>

<section class="has-voted" *ngIf="poll.userVoted && mode === blockMode.NORMAL">
  <p>{{poll.text}}</p>
  <div *ngFor="let option of poll.options">
    <span>{{option.text}}</span> - <span>{{option.votes}}</span>
  </div>
</section>

<section class="create" *ngIf="mode === blockMode.NEW">
  <md-input-container>
    <textarea mdInput placeholder="Tekst" [(ngModel)]="poll.text"></textarea>
  </md-input-container>
  <br>
  <md-slide-toggle color="accent" [(ngModel)]="poll.settings.multipleChoice">
    Multiple choice
  </md-slide-toggle>
  <br>
  <md-slide-toggle color="accent" [(ngModel)]="poll.settings.anonymous">
    Anoniem
  </md-slide-toggle>
  <hr>
  <span *ngFor="let option of poll.options; index as i;">
    <md-radio-button [disabled]="true" *ngIf="!poll.settings.multipleChoice">
        <md-input-container>
          <input mdInput type="text" placeholder="Tekst" [(ngModel)]="option.text"/>
          <a mdSuffix (click)="removeOption(i)"><md-icon>delete</md-icon></a>
        </md-input-container>
    </md-radio-button>
    <md-checkbox [disabled]="true" *ngIf="poll.settings.multipleChoice" checked>
      <md-input-container>
          <input mdInput type="text" placeholder="Tekst" [(ngModel)]="option.text"/>
          <a mdSuffix (click)="removeOption(i)"><md-icon>delete</md-icon></a>
      </md-input-container>
    </md-checkbox>
    <br />
  </span>
  <button md-button (click)="addOption()"><md-icon>add</md-icon></button>
  <hr>

  <a md-raised-button (click)="save()">Opslaan</a>
</section>
