@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body, saevis-root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

mat-sidenav-container {
  min-height: calc(100% - 64px);
}

mat-card {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}
