.add-topic-button {
  //float: right;
  //margin-right: 24px;
  //margin-top: -48px;
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.draft {
  opacity: 0.6;
}

@mixin md-icon-size($size: 12px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.mat-icon {
  @include md-icon-size(12px);
}
