sudo: required
dist: trusty
language: node_js
node_js:
  - '6.11'

services:
  - docker

env:
  global:
    - "DOMAIN=eu-gb.mybluemix.net"
    - "SERVER=saevis-api"
    - "CLIENT=saevis"

before_install:
  - npm install -g @angular/cli@1.0.0 --loglevel error

before_script:
  - cd $TRAVIS_BUILD_DIR/saevis && npm install --loglevel error && ng build --env=prod

script:
  - cd $TRAVIS_BUILD_DIR
  - docker build server --tag ${REGISTRY}/${SERVER}
  - docker build saevis --tag ${REGISTRY}/${CLIENT}
  - docker run ${REGISTRY}/${SERVER} bash -c "npm run test"

before-deploy:
  - curl -sL "https://public.dhe.ibm.com/cloud/bluemix/cli/bluemix-cli/Bluemix_CLI_0.5.4_amd64.tar.gz" | tar -zx
  - sudo bash Bluemix_CLI/install_bluemix_cli
  - rm -rf Bluemix_CLI
  - bx config --check-version=false
  - bx plugin install IBM-containers -r Bluemix

deploy:
  provider: script
  script: "sh $TRAVIS_BUILD_DIR/deploy.sh"
  skip_cleanup: true
  on:
    branch: master
