sudo: required
dist: trusty
language: node_js
node_js:
  - '6.11'

services:
  - docker

env:
  global:
     CF_TARGET_URL="https://api.eu-de.bluemix.net"

before_install:
  - npm install -g @angular/cli@1.0.0 --loglevel error
  - ./install-bx.sh

before_script:


script:
  skip_cleanup: true
  - ./bx-login.sh
  - npm run build
  - npm run push
  - kubectl delete --ignore-not-found=true -f kubernetes.yml
  - kubectl create -f kubernetes.yml
