version: "2"
services:
  saevis:
    build:
      context: saevis
      dockerfile: devDockerfile
    ports:
      - 4200:4200
      - 35729:35729
    volumes:
      - ./saevis/src:/usr/src/app/src
  saevis-api:
    build:
      context: saevis-api
      dockerfile: devDockerfile
    volumes:
      - ./saevis-api:/usr/src/app/
      - /usr/src/app/node_modules
      - ./saevis-api/database.db:/usr/src/app/database.db
    ports:
      - 3000:3000

