//.add-block-button {
//  margin: -48px auto -28px;
//  display: block;
//  z-index: 1;
//}

.add-block-button {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.menu-button {
  float: right;
  md-icon {
    vertical-align: inherit;
  }
}
