<ng-container *ngIf="topic">
  <mat-card class="{{topic.published ? 'published' : 'draft'}}">
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isInNormalMode" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="edit()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="publish()">
        <mat-icon>publish</mat-icon>
        <span>Publish</span>
      </button>
      <!--<button mat-menu-item (click)="delete()">-->
        <!--<mat-icon>delete</mat-icon>-->
        <!--<span>Delete</span>-->
      <!--</button>-->
    </mat-menu>
      <mat-card-title>
        <span *ngIf="isInNormalMode">{{topic.title}}</span>
        <mat-input-container class="full-width" *ngIf="isInEditMode">
          <input matInput placeholder="Title" [(ngModel)]="topic.title">
        </mat-input-container>
      </mat-card-title>
    <mat-card-content>
      <span *ngIf="isInNormalMode">{{topic.text}}</span>
      <mat-input-container class="full-width" *ngIf="isInEditMode">
        <textarea matInput placeholder="Description" [(ngModel)]="topic.text"></textarea>
      </mat-input-container>
    </mat-card-content>
    <mat-card-actions *ngIf="isInEditMode">
      <a mat-button (click)="save()">Opslaan</a>
      <a mat-button (click)="cancel()">Annuleren</a>
    </mat-card-actions>
  </mat-card>

  <saevis-full-block *ngFor="let block of topic.blocks; index as i" [block]="block" (destroy)="topic.blocks.splice(i, 1)"></saevis-full-block>

  <a mat-fab color="primary" [matMenuTriggerFor]="newBlockMenu" class="add-block-button" *ngIf="!addingContent"><mat-icon>add</mat-icon></a>
  <mat-menu #newBlockMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="createBlock('Poll')"> <mat-icon> poll </mat-icon> <span> Poll </span></button>
    <button mat-menu-item (click)="createBlock('Event')"> <mat-icon> event </mat-icon> <span> Event </span></button>
  </mat-menu>
</ng-container>
