// @import 'default-theme.scss';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body {
  margin: 0;
  height: 100%;
}

md-card {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}
