.content {
  padding: 20px;
}

md-sidenav-container {
  height: calc(100% - 64px);
  // background-color: #183152;

  &.left-nav {
    width: 280px;
  }
}

md-sidenav {
  // background-color: #183152;
}
