<mat-card>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="block.mode === BlockMode.NORMAL && block.blockContent.canEdit || block.blockContent.canDelete" class="menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="edit()" [disabled]="!block.blockContent.canEdit">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-menu-item (click)="delete()" [disabled]="!block.blockContent.canDelete">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
  <mat-card-header>
    <mat-icon mat-card-avatar>{{block.blockContent.icon}}</mat-icon>
    <mat-card-title>
      {{block.blockContentType}}
    </mat-card-title>
  </mat-card-header>
  <ng-template #blockContainer></ng-template>
  <mat-card-actions>
    <a mat-button (click)="actions.emit(action.name)" *ngFor="let action of blockComponent.instance.allowedActions">{{action.text}}</a>
  </mat-card-actions>
</mat-card>
