<nz-list
  [nzDataSource]="contents"
  [nzItemLayout]="'vertical'"
  [nzRenderItem]="content">
  <ng-template #content let-content let-i="index">
    <button *ngIf="i===0" nz-button nzType="dashed" class="list-item new-button"
            nz-popover [nzContent]="newContentTemplate" nzTrigger="click" nzPlacement="bottom">
      <i nz-icon type="plus-circle"></i>
    </button>

    <app-content-item [content]="content"></app-content-item>

  </ng-template>
</nz-list>
<button *ngIf="content.length === 0" nz-button nzType="dashed" class="list-item new-button"
        nz-popover [nzContent]="newContentTemplate" nzTrigger="click" nzPlacement="bottom">
  <i nz-icon type="plus-circle"></i>
</button>

<ng-template #newContentTemplate>
  <nz-list nzItemLayout="horizontal"
           [nzDataSource]="contentProviders"
           [nzRenderItem]="provider">
    <ng-template #provider let-provider let-i="index">
      <nz-list-item (click)="createNewContentModal(provider.type, topic)">
        <nz-list-item-meta
          [nzTitle]="provider.title"
          [nzAvatar]="avatarTemplate"
          [nzDescription]="provider.description">
        </nz-list-item-meta>
        <ng-template #avatarTemplate>
          <nz-avatar [nzIcon]="provider.icon"></nz-avatar>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</ng-template>
