<ng-container class="login-container">
<mat-card>
  <form class="login-form" (ngSubmit)="login()" #loginForm="ngForm">
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
        <mat-input-container class="full-width">
          <input mdInput placeholder="Email" value="arne@example.com" [(ngModel)]="email" name="email">
        </mat-input-container>
        <mat-input-container class="full-width">
          <input mdInput type="password" placeholder="Password" value="password" [(ngModel)]="password" name="password">
        </mat-input-container>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button [disabled]="!loginForm.form.valid">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
</ng-container>
