<section class="not-voted" *ngIf="!content.userVoted && mode === BlockMode.NORMAL">
  <p>{{content.text}}</p>
  <md-radio-group [(ngModel)]="option" *ngIf="!content.settings.multipleChoice">
    <div *ngFor="let option of content.options" >
      <md-radio-button [value]="option.id">
        {{option.text}}
      </md-radio-button>
    </div>
  </md-radio-group>
  <div *ngIf="content.settings.multipleChoice">
    <div *ngFor="let option of content.options">
      <md-checkbox [(ngModel)]="option.checked">{{option.text}}</md-checkbox>
    </div>
  </div>
</section>

<section class="has-voted" *ngIf="content.userVoted && mode === BlockMode.NORMAL">
  <p>{{content.text}}</p>
  <div *ngFor="let option of content.options">
    <div class="description">{{option.text}} ({{option.votes}})</div>
    <div>
      <md-progress-bar [value]="(option.votes / content.votes.length) * 100"></md-progress-bar>
    </div>
  </div>
</section>

<section class="create" *ngIf="mode === BlockMode.NEW">
  <div>
    <div class="question" fxFlex="66">
      <md-input-container class="text">
        <textarea mdInput placeholder="Tekst" [(ngModel)]="content.text"></textarea>
      </md-input-container>

      <br />
      <!-- Options  -->
      <span *ngFor="let option of content.options; index as i">
        <md-checkbox disabled *ngIf="content.settings.multipleChoice" [checked]="true">
          <md-input-container>
              <input mdInput type="text" placeholder="Tekst" [(ngModel)]="option.text" #optionelement />
              <a mdSuffix (click)="removeOption(i)"><md-icon>delete</md-icon></a>
          </md-input-container>
        </md-checkbox>

        <md-radio-button disabled *ngIf="!content.settings.multipleChoice">
            <md-input-container>
              <input mdInput type="text" placeholder="Tekst" [(ngModel)]="option.text" #optionelement />
              <a mdSuffix (click)="removeOption(i)"><md-icon>delete</md-icon></a>
            </md-input-container>
        </md-radio-button>

        <br />
      </span>

      <!-- Add -->
      <span *ngIf="content.options[content.options.length -1].text">
        <md-checkbox disabled *ngIf="content.settings.multipleChoice" [checked]="true" (click)="addOption()">
          <md-input-container>
              <input mdInput type="text" placeholder="Voeg toe..." />
          </md-input-container>
        </md-checkbox>

        <md-radio-button disabled *ngIf="!content.settings.multipleChoice" (click)="addOption()">
            <md-input-container>
              <input mdInput type="text" placeholder="Voeg toe..." />
            </md-input-container>
        </md-radio-button>

        <br />
      </span>
    </div>

    <div class="settings" fxFlex="33">
      <md-slide-toggle color="accent" [(ngModel)]="content.settings.multipleChoice">
        {{content.settings.multipleChoice ? 'Multiple choice' : 'Enkele keuze'}}
      </md-slide-toggle>
      <br>
      <md-slide-toggle color="accent" [(ngModel)]="content.settings.anonymous">
        Anoniem
      </md-slide-toggle>
    </div>

  </div>
</section>
