<mat-card *ngFor="let topic of topics | async" [routerLink]="topic.id" class="{{topic.published ? 'published' : 'draft'}}">
  <!--<mat-card-header>-->
    <mat-card-title>{{topic.title}}</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  <!--</mat-card-header>-->
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
      <mat-chip-list [selectable]="false">
        <mat-chip [color]="block.blockContent.getHasDone(userId) ? 'accent' : 'primary'" *ngFor="let block of topic.blocks">
          <mat-icon>
            {{block.blockContent.icon}}
          </mat-icon>
          {{block.blockContent.value}} | {{block.blockContent.getShortText(userId)}}
        </mat-chip>
      </mat-chip-list>
  </mat-card-actions>
</mat-card>
<a mat-fab [color]="'primary'" (click)="create()" class="add-topic-button"><mat-icon>add</mat-icon></a>
