.description {
  width: 150px;
}

md-progress-bar {
  height: 24px;
}

.settings {
  padding: 5px;
}

.question {
  .text {
    width: 100%;
  }
}

md-checkbox {
  md-input-container {
    margin-left: 8px;
  }
}

//md-radio-button, md-input-container, input {
//  width: 100%;
//}
