<ng-container *ngIf="mode === BlockMode.EDIT || mode === BlockMode.NEW">
  <mat-input-container>
    <input matInput [matDatepicker]="startDatepicker" [min]="minDate" placeholder="Start" [(ngModel)]="content.startTime" (change)="onChangeStartTime()">
    <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatepicker [touchUi]="true"></mat-datepicker>
  </mat-input-container>
  <br>
  <mat-input-container>
    <input matInput [matDatepicker]="endDatepicker" [min]="minDate" placeholder="Eind" [(ngModel)]="content.endTime">
    <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatepicker [touchUi]="true"></mat-datepicker>
  </mat-input-container>

  <br>
</ng-container>

<ng-container *ngIf="mode === BlockMode.NORMAL">
  <p>Bij {{content.locationText}} van {{content.startTime | date}} tot {{content.endTime | date}}.</p>
  <mat-slide-toggle (change)="toggleParticipating()" [checked]="isParticipating">
    {{isParticipating ? 'Bij' : 'Niet bij'}}
  </mat-slide-toggle>
  <br />
  <mat-chip-list>
    <mat-chip *ngFor="let participant of content.participants">{{participant.email}}</mat-chip>
  </mat-chip-list>
</ng-container>
