<ng-container *ngIf="editing">
  <md-input-container>
    <input mdInput [mdDatepicker]="startDatepicker" [min]="minDate" placeholder="Start" [(ngModel)]="event.startTime" (change)="onChangeStartTime()">
    <button mdSuffix [mdDatepickerToggle]="startDatepicker"></button>
  </md-input-container>
  <md-datepicker #startDatepicker [touchUi]="true"></md-datepicker>
  <br>
  <md-input-container>
    <input mdInput [mdDatepicker]="endDatepicker" [min]="minDate" placeholder="Eind" [(ngModel)]="event.endTime">
    <button mdSuffix [mdDatepickerToggle]="endDatepicker"></button>
  </md-input-container>
  <md-datepicker #endDatepicker [touchUi]="true"></md-datepicker>
  <br>
  <md-input-container>
    <input mdInput type="text" placeholder="Locatie" [(ngModel)]="event.locationText"/>
  </md-input-container>
  <br>
  <!--<md-card-actions>-->
    <a md-button (click)="save()">Opslaan</a>
    <a md-button (click)="discard()" *ngIf="isNew">Annuleren</a>
  <!--</md-card-actions>-->
</ng-container>

<ng-container *ngIf="!editing">
  Bij {{event.locationText}} van {{event.startTime | date}} tot {{event.endTime | date}}.
  <br>
  <a md-button (click)="editClicked = true">Bewerk</a>
</ng-container>
